#info-header{
	background-color: #36d7b6;
}

#maps{
	border-right: 1px solid #f6f6f6;
	border-left: 1px solid #f6f6f6;
}

.info-header-wrapper{
	display: flex;
	padding: 10px 25px;
}

.desc-info-header{
	margin-left: 20px;
}

.desc-info-header p{
	color: #fff;
}

#clock,
#phone{
	border-right: 1px solid #f6f6f6;
	border-left: 1px solid #f6f6f6;
	margin-left: -1px;
}

.no-padding{
	padding: 0;
}

.bg-nav{
	background-color: #fff;
	border: none;
	margin-bottom: 0;
}

.navbar-nav{
	float: right;
}

#no-padding-right{
	padding-right: 0;
}

.navbar-brand {
    height: auto;
}

.navbar-brand img{
	width: 100%;
	height: auto;
}

.navbar-nav li a{
	padding: 35px;
	color: #022046;
	font-weight: 700;
}

#wrapper-img-header img{
	width: 100%;
	height: auto;
}

#sign-up,
#nav-footer{
	background-color: #2d3e50;
	border-bottom: 1px solid #556574;
}

#logo-footer img{
	width: 100%;
	height: auto;
}

.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

#text-sign-up p{
	color: #fff;
	font-size: 22px;
	padding-left: 25px;
}

#button-sign-up{
	float: right;
}

.btn-default{
	background-color: #36d7b6;
	color: #fff;
	padding: 10px 40px;
	font-size: 18px;
	border: none;
}

.btn-default:hover{
	background-color: #37cdae;
	transform: background-color .5s;
	color: #fff;
}

.img-ig img{
	width: 100%;
	height: auto;
}

.padding-nav{
	padding: 50px 0;
}

#desc-tonjoo p{
	padding-top: 10px;
	color: #fff;
}

#title-usefull h4,
#title-information h4,
#title-ig h4{
	color: #fff;
	font-weight: 700;
	padding-bottom: 15px;
}

.no-margin{
	margin: 0;
}

.footer-nav ul li a{
	color: #fff;
	text-decoration: underline;
}

.footer-nav ul li{
	padding-bottom: 15px;
}

#logo-tonjoo img{
	padding-left: 10px;
}

#copyright{
	background-color: #2d3e50;
}

#studio{
	float: right;
}

#cpy p,
#studio p{
	color: #fff;
}

.copy-box{
	padding-top: 20px;
	padding-bottom: 50px;
}

.image-post-arsip img{
	width: 100%;
	height: auto;
}

#content-arsip{
	background-color: #f6f6f6;
}

.post-arsip{
	background-color: #fff;
}

.desc-post-arsip{
	padding: 20px 25px;
}

.info-post{
	display: flex;
	border-top: 3px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

.img-info-post{
	padding: 7px 40px;
	margin: 5px 0;
}

.border-right{
	border-right: 1px solid #e1e1e1;
}

.wrap-post-arsip{
	padding: 15px 0;
}

.wrap-title-sidebar{
	display: flex;
}

.sale{
	background-color: #36d7b6;
}

.sale p{
	padding: 15px;
}

.rent{
	background-color: #2d3e50;
}

.rent p{
	padding: 15px;
}

.sidebar{
	padding-top: 15px;
}

.title-sidebar a{
	color: #fff;
}

.title-sidebar a:hover{
	color: #fff;
	text-decoration: none;
}

.form-opt{
	width: 100%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    width: 100%;
    padding: 8px;
}

.card{
	background-color: #fff;
	margin-top: -10px;
	padding: 20px;
}

.form-side{
	margin-top: 20px;
}

.form-control{
	border-left: 0px;
	background: #2d3e50;
	color: white;
}

.input-group-addon{
	background: #2d3e50;
}

.input-group-addon img{
	width: 20px;
	height: auto;
}

.input-group-addon input:active{
	border: none;
}

.shadow {
    box-shadow: 0 5px 6px -6px black;
}

#wrapper-agen{
	background-color: #fff;
}

.title-agen h4{
	color: #39d7b6;
	padding: 15px;
	font-weight: 700;
}

.title-agen-wrapper{
	border-bottom: 1px solid #e1e1e1;
}

.img-cs img{
	vertical-align: middle;
}

.img-agen-wrapper{
	display: flex;
	justify-content: center;
}

.img-agen {
    padding: 20px 0;
}

.name-agen{
	padding-bottom: 20px;
}

.mail-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #e1e1e1;
}

.contact-email,
.contact-telp{
	padding: 15px;
}

.contact-email{
	border-right: 1px solid #e1e1e1;
}

.img-cs img.
.contact-email img,
.contact-telp img{
	width: 100%;
	height: auto;
}

#send-message{
	background-color: #fff;
}

.title-message {
    border-bottom: 1px solid #e1e1e1;
}

.title-message h4{
    color: #39d7b6;
    padding: 15px;
    font-weight: 700;
}

.form-contact{
	padding: 20px;
}

.form-group input{
	background-color: transparent;
	border-radius: 0;
	border: 1px solid #e1e1e1;
	color: #000;
}

.kontak-saya {
    border: 1px solid #e1e1e1;
    background: transparent;
    color: #000;
    border-radius: 0;
}

.btn-default{
	background-color: #36d7b6;
	width: 100%;
	border-radius: 0;
}

.pagination-pg {
    display: flex;
    background: white;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.number-page ul li a {
    padding: 5px;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.number-page ul li a:hover{
	color: #36d7b6;
	text-decoration: none;
}

.number-page ul li {
    display: inline-block;
}

.post-body{
	background: #f6f6f6;
}

.title-single {
    padding: 20px;
}

.post-single {
    background-color: #fff;
    margin-top: 20px;
}

.thumb-single img{
	width: 100%;
	height: auto;
}

.postnav {
    padding: 20px;
}

.postnav ul {
    margin: 0px;
    padding: 0px;
}

.postnav ul li {
    display: inline-block;
}

.postnav ul li a {
    color: grey;
    font-size: 12px;
    padding-left: 20px;
}

article p{
	padding: 0 20px;
}

.wrap-title-comment {
    border-bottom: 1px solid #e1e1e1;
}

.title-comment {
    padding: 10px 20px;
}

.title-comment h6 {
    font-size: 16px;
    font-weight: 700;
    color: #36d7b8;
}

.card-body {
    padding: 10px 20px;
}

.brdr {
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
}

.name-comment {
    display: flex;
    justify-content: space-between;
}

.nama {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.nama h6 {
    border-right: 1px solid grey;
    padding-right: 5px;
    margin-right: 5px;
}

.nama p {
    color: grey;
    font-size: 11px;
}

.replay a {
    color: #37d6b8;
    font-size: 13px;
}

.comment-submit{
	background-color: #fff;
}

.content-comment{
	padding: 10px;
}

.comment-control{
	border-radius: 0;
	border: 1px solid #e1e1e1;
	width: 100%;
	padding: 10px;
}

.kategori {
    margin-top: 20px;
    background-color: #fff;
}



.kategori-ini h5{
	color: #37d8b7;
	font-weight: 700;
	padding: 15px;
}

.kategori-ini{
	border-bottom: 1px solid #e1e1e1;
}

.category li a{
	color: #000;
	
}

.category li a span{
	padding-left: 15px;
}

.thumb-img img{
	width: 100%;
	height: auto;
}

.populer-post {
    display: flex;
    margin: 10px 0px;
}

.content-pop {
    padding: 0 10px;
}

.content-pop .calend p {
    margin: 0px;
    font-size: 11px;
    color: grey;
}

.tag {
    margin: 0px;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
}

.tag li {
    display: inline-block;
    background: #36d7b6;
    margin: 5px;
    padding: 5px 8px;
}

.tag li a {
    color: black;
    font-size: 12px;
}























































































































































/*responsive*/

@media (max-width: 767px){
	#maps{
		border-right: 0;
		border-left: 0;
		border-bottom: 1px solid #f6f6f6;
	}
	#clock,
	#phone{
		border-right: 0;
		border-left: 0;
		margin-left: 0;
		border-bottom: 1px solid #f6f6f6 
	}
	.navbar-nav{
		float: left;
	}
	.navbar-nav li a{
		padding: 7px 25px;
	}
	.img-info-post{
		padding: 7px 10px;
		margin: 5px 0;
	}
	.display-table{
    	display: inline-block;
    }
	.display-cell{
    	display: inline-block;
    	vertical-align: middle;
    	float: none;
	}
	#text-sign-up {
		padding: 15px 0;
	}
	#text-sign-up p{
		font-size: 15px;
	}
	#button-sign-up {
    	float: none;
    	padding-bottom: 10px;
	}

}

@media (min-width: 768px) and (max-width: 991px){
	#maps{
		border-right: 0;
		border-left: 0;
	}
	#clock,
	#phone{
		border-right: 0;
		border-left: 0;
		margin-left: 0;
	}
	.navbar-nav li a{
		padding: 40px 15px;
	}
	#instagram{
		padding-left: 15px;
	}
}












































































































































































































































